version: "2"
services:
  solution:
    env_file: run.env
    image: gauravbansal74/solution:v1.0.1
    ports:
      - "9000:9000"
    links:
      - redis

  redis:
    image: redis:alpine  
    ports:
      - "6379:6379"    
